.toast-container {
    font-size: 1rem;
    height: auto;
    right: 10px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 2147483647;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
